.card-container {
  width: 25rem;
  background-color: #ffd16f;
  height: 10rem;
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
}

.todo-title {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  width: 100%;
}

#todo-description,
#todo-title {
  border-radius: 1rem;
  opacity: 75%;
}

#todo-title{
    width: 100%;
    margin-right: 1rem;
    height: 100%;
}

.todo-description {
    height: 100%;
}

.todo-buttons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  min-width: 10rem;
}

.button-container > button {
  border-radius: 2rem;
  padding: 0.2rem 0.5rem;
}
