.title {
  flex: content;
  justify-items: center;
}

h2 {
  background: #febebe;
  border-radius: 4rem;
  max-width: fit-content;
  align-self: center;
  padding: 1rem 2rem;
}

.container {
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}